/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px --bg2;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg1);
  border-radius: 10px;
  transition: all 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hover);
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  /*user-drag: none;*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  direction: rtl;
  white-space: nowrap;
}

@font-face {
  font-family: title;
  src: url(https://www.fontstatic.com/fonts/decotype-thuluth/DecoType-Thuluth.woff);
}

@font-face {
  font-family: font;
  src: url(https://www.fontstatic.com/fonts/bahij/bahij.woff);
}

:root {
  --bg1: rgb(92, 202, 88);
  --bg2: rgb(15, 156, 24);
  --b_c: rgb(94, 94, 94);
  --b_p: calc(var(--w)*0.2);
  --f_c: rgb(90, 0, 0);
  --hover: rgb(134, 134, 255);
  --w: calc((100vw - 20px)/100);
  --p: 1px;
  /*--w: calc(100vw/100);*/
  --ru: calc(var(--w)*10);
  font-family: font;
  font-size: calc(4 * var(--w));
  color: var(--f_c);
  line-height: 1;
  text-align: center;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 1000px) {
  :root {
    --w: 8px;
  }
}

/*
@media only screen and (min-width: 700px) {
  :root {
    --w: .9vw;
  }
}

@media only screen and (min-width: 1000px) {
  :root {
    --w: .8vw;
  }
}


@media (prefers-color-scheme: dark) {}
*/

.vl {
  width: var(--b_p);
  height: calc(var(--w)*12);
  background-image: linear-gradient(transparent, var(--b_c), var(--b_c), var(--b_c), transparent);
  border-radius: 100%;
}

.hl {
  height: calc(var(--b_p)*2);
  width: 100%;
  background-image: linear-gradient(90deg, transparent, var(--b_c), var(--b_c), var(--b_c), transparent);
  border-radius: 100%;
}

body,
#alert>div {
  overflow-x: hidden;
  text-align: center;
  background: url(img/11.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  /* border-radius: var(--ru); */
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  top: 0;
  /* background-image: linear-gradient(var(--bg1)0%, var(--bg2) 50%, var(--bg1) 100%); */
  background-image: url(img/20.jpg);
  background-size: auto 100%;
  background-repeat: repeat-x;
}

header a h1 {
  display: inline-block;
}

header h1 span {
  width: 15%;
  font-size: calc(var(--w)*3.5);
  display: block;
  font-family: title;
  padding-right: 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 65%;
  font-size: calc(var(--w)*3.5);
}

nav div {
  width: 1%;
}

header a {
  color: var(--f_c);
  text-decoration-line: none;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s;
}

header a span {
  display: block;
}

.drop_block {
  overflow: hidden;
  background-color: var(--bg1);
  transform: translateX(50%);
  position: absolute;
  z-index: 2;
  width: calc(var(--w)*15);
}

.drop_block a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0px;
}


header a:hover {
  color: var(--hover);
}

header nav div:hover .drop_block a {
  height: calc(var(--w)*7);
}

header .hl {
  height: 0px;
}

nav div:hover .hl {
  height: calc(var(--b_p)*2);
}

nav a:active {
  transform: scale(0.7);
}

.tel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 20%;
  font-size: calc(var(--w)*3.5);
  padding-left: 5%;
}

.tel span {
  direction: ltr;
}

.above {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.above h1,
.above :nth-child(1) {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.above h1 span {
  display: block;
  font-family: title;
  font-size: calc(var(--p)*50);
}

#abdo {
  height: calc(var(--p)*250);
  width: calc(var(--p)*250);
  position: relative;
}

#abdo img {
  border: var(--b_p) solid var(--b_c);
  border-radius: 100%;
  position: absolute;
  height: 100%;
  width: 100%;
}


@media only screen and (max-width: 550px) {
  .above {
    flex-direction: column;
  }

  .above h1 {
    margin-bottom: calc(var(--p)*10);
  }
}

@keyframes new {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes old {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes newp {
  0% {
    top: calc(var(--w)*-20);
  }

  100% {
    top: 0px;
  }
}

@keyframes newdec {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.slide_new {
  animation: new 1s linear forwards;
}

.slide_newp {
  animation: newp 1s linear forwards;
}

.slide_newdec {
  animation: newdec 1s linear forwards;
}

.slide_old {
  animation: old 1s linear forwards;
}

.slide_divp {
  position: relative;
  font-size: 1.4em;
  transform: translateX(0%);
}

.slide_div {
  opacity: 0;
}


#slide {
  width: calc(var(--w)*100);
  height: calc(var(--w)*50);
}

#slide div {
  position: absolute;
  transform: translateX(-50%);
  transform: translateY(0%);
  width: calc(var(--w)*100);
  height: calc(var(--w)*50);
}

.slide_img {
  border-radius: var(--ru);
  width: 100%;
  height: 100%;
}

.img_dec {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: 0px;
  width: calc(var(--w)*20);
}


.border_white {
  box-shadow: 0px -10px 10px 10px white inset;
  border: 2px solid white;
}

article {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  margin: 50px 0;
  line-height: 2;
  white-space: normal;
}

article .ol {
  counter-reset: section;
  text-align: right;
}

article .li::before {
  counter-increment: section;
  content: ""counter(section) "- ";
}

article .note::before {
  content: "- ";
}

form {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: calc(var(--w)*3);
}

form #abdo_acc {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  padding: calc(var(--w)*2);
}

form #abdo_acc span {
  width: calc(var(--w)*70);
}

form div,
form #abdo_acc div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  justify-content: space-evenly;
}

form div span,
form #abdo_acc div span {
  width: calc(var(--w)*20);
  text-align: right;
}

form div .form-control,
form #abdo_acc div .form-control {
  font-size: calc(var(--w)*3);
  border: var(--b_p) var(--b_c) solid;
  border-radius: var(--ru);
  padding: calc(var(--w) * 1);
  padding-right: calc(var(--w) * 2);
  display: inline-block;
  width: calc(var(--w)*40);
  margin: calc(var(--p)*10);
}

form label {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: var(--b_p) var(--b_c) solid;
  border-radius: var(--ru);
  padding: calc(var(--w)*0) calc(var(--w)*5) calc(var(--w)*1);
  margin: calc(var(--p)*10);
  width: calc(var(--w)*65);
}

form [type=checkbox] {
  width: 2em;
  height: 2em;
  margin-left: calc(var(--w) * 2);
}

form button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  line-height: 1;
  font-size: calc(var(--w)*5);
  border: var(--b_p) var(--b_c) solid;
  border-radius: 100%;
  width: calc(var(--w) * 7);
  height: calc(var(--w) * 7);
  padding: calc(var(--w) * 3) calc(var(--w) * 8) calc(var(--w) * 13) calc(var(--w) * 8);
  box-shadow: inset 0px 0px calc(var(--w) * 1) calc(var(--w) * 1) var(--bg2);
  transition: all 0.5s;
}

#mi,
#abdo_cc {
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.summary {
  box-shadow: inset 0px 0px calc(var(--w) * 1) calc(var(--w) * 1) var(--bg2);
  border-radius: var(--ru);
  margin: calc(var(--w) * 1);
  padding: calc(var(--w) * 1) calc(var(--w) * 5);
  width: 80%;
  transition: all 0.5s;
}
.summary:hover,form button:hover {
  box-shadow: inset 0px 0px calc(var(--w) * 1) calc(var(--w) * 1) var(--hover);
}
.in {
  height: 0;
  opacity: 0;
  padding: 0px calc(var(--w) * 3);
  display: none;
  white-space: normal;
  text-align: right;
}

.on {
  animation: on 1s ease-in-out forwards;
  display: block;
}

.off {
  display: none;
  animation: off 1s ease-in-out forwards;
}

@keyframes on {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    height: auto;
  }
}

@keyframes off {
  0% {
    opacity: 1;
    height: auto;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

footer {
  display: flex;
  align-items:center;
  justify-content:space-around;
  width: 100%;
  height: calc(var(--p) * 150);
  background: url(img/13.png);
  background-size: auto 100%;
  background-repeat: repeat-x;
  padding: calc(var(--p) * 20) calc(var(--p) * 20) 0px;
  

}

footer>div{
  display: flex;
  align-items:flex-start;
  justify-content:space-around;
  flex-direction: column;
  direction: ltr;
  font-size: calc(var(--w) * 3);
  height: calc(var(--p) * 100);
}

footer a {
  display: flex;
  align-items:center;
  justify-content:center;
  direction: ltr;
  text-decoration: none;
  font-size: calc(var(--w) * 2);
  text-align: left;
  color: var(--hover);
}

footer i {
  direction: ltr;
  margin-right: calc(var(--w) * 1);
  font-size: calc(var(--w) * 5);
}

.father,.tell {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  direction: ltr;
  text-align: left;
  color: var(--hover);
  font-family: font;
  font-size: 1.5em;
  height: calc(var(--p) * 40);
}

.tell{
  font-size: 2em;
}

#alert {
  direction: rtl;
  display: none;
  position: fixed;
  background-color: rgba(128, 128, 128, 0.8);
  z-index: 5;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(0);
}

.alert_show {
  animation: alert_show 1s forwards;
}

@keyframes alert_show {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.alert_hide {
  animation: alert_hide 1s forwards;
}

@keyframes alert_hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

#alert>div {
  direction: rtl;
  height: 80vh;
  width: 80vw;
  margin: 10vh 10vw;
  border-radius: var(--ru) 0 var(--ru) var(--ru);

}

#close {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  align-self: start;
  font-size: calc(var(--w) * 5);
  height: calc(var(--w) * 5);
  width: calc(var(--w) * 5);
  background-color: var(--bg1);
}

#close:hover {
  color: var(--hover);
}

#fixed_text {
  direction: rtl;
  margin: calc(var(--w) * 2);
  text-align: right;
  line-height: 2;
  white-space: normal;
  padding: calc(var(--w) * 2);
}

#father_article img {
  width: calc(var(--w) * 80);
}

#father_article {
  direction: rtl;
  text-align: center;
}